<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="basicNetTcpBinding">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<client>
			<endpoint
				name="MockEndpoint"
				address="net.tcp://127.0.0.1:9005/MockService"
				binding="netTcpBinding"
				bindingConfiguration="basicNetTcpBinding"
				contract="Entropa.WcfUtils.MockService.IMockContract"
				>
			</endpoint>
		</client>

		<services>
			<service name="Entropa.WcfUtils.MockService.MockServiceImpl">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="basicNetTcpBinding"
				 contract="Entropa.WcfUtils.MockService.IMockContract" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://127.0.0.1:9005/MockService" />
						<add baseAddress="http://127.0.0.1:9006/MockService" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>