<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding
					name="basicNetTcpBinding"
					>
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior
					name="basicNetTcpBehavior"
					>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint
				name="MockEndpoint"
				address="net.tcp://127.0.0.1:9005/MockService"
				binding="netTcpBinding"
				bindingConfiguration="basicNetTcpBinding"
				contract="TestWcfUtils.Mocks.IMockContract"
				>
			</endpoint>
		</client>
		<services>
			<service
				name="TestWcfUtils.Mocks.MockService"
				behaviorConfiguration="basicNetTcpBehavior"
				>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://127.0.0.1:9005"/>
					</baseAddresses>
				</host>
				<endpoint
					address="net.tcp://127.0.0.1:9005/MockService"
					binding="netTcpBinding"
					bindingConfiguration="basicNetTcpBinding"
					contract="TestWcfUtils.Mocks.IMockContract"
					>
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>