<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMockContract">
                    <security mode="Message" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:9005/MockService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMockContract" contract="ServiceReference.IMockContract"
                name="NetTcpBinding_IMockContract">
                <identity>
                    <userPrincipalName value="SERVER02\mbennett" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>